body{ /*body bg, default margin, fonts*/
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #23272A;
}

.topnav{ /*top naviguation*/
    display: flex;
    flex-direction: row;
    width: auto;
    background-color:#2C2F33;
}
.home_logo{ /*top naviguation - logo*/
    background-size:cover;
    width: 70px;
    height: 70px; 
}
.topnav a{ /*top naviguation - buttons*/
    color: white;
    transition: background-color 150ms linear;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.topnav a:hover{ /*top naviguation - buttons when hovering*/
    background-color:#8c959c;
    transition: background-color 150ms linear;
}
.topnav a div { /*top naviguation - adapting buttons text*/
    width: 200px;
    text-align: center;
}

.about_logo{ /*logo*/
    float: left;
    margin-right: 100px;
}

.about_text{ /*about text*/
    font-size: 40px;
    padding: 10% 10%;
    color: white;
}

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../SVG/index_bottom.svg");
}


