/*-----------------------------------------------------------------------------------*/
/*--------------------------------TOP BAR NAVIGATION---------------------------------*/
/*-----------------------------------------------------------------------------------*/
.topnav{ /*top naviguation*/
    display: flex;
    flex-direction: row;
    width: 100%;
	height: 50px;
    background-color:#2C2F33;
    justify-content: center;
}
.topnav a{ /*top naviguation - buttons*/
    color: white;
    transition: background-color 150ms linear;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.topnav a:hover{ /*top naviguation - buttons when hovering*/
    background-color:#8c959c;
    transition: background-color 150ms linear;
}
.topnav a div { /*top naviguation - adapting buttons text*/
    width: 200px;
    text-align: center;
}

/*-----------------------------------------------------------------------------------*/
/*---------------------------HOME (Logo, title, etc.)--------------------------------*/
/*-----------------------------------------------------------------------------------*/
.home_logo{ /*Logo but not my face right now because i'm ugly*/
    display: block;
    width: 300px;
    height: 300px;
    margin: 3% auto 3%;
    border-radius: 50% 50%/50% 50%;
}
h1{ /*Super cool Title, not in templates because it's UNIQUE (and a special title)*/
    font-size: 50px;
    color: #8c959c;
    text-align: center;
    margin-top: 50px;
}
p{ /*paragraph where i'm talking about myself*/
    text-align: center;
    color: white;
    margin-top: 2%;
    font-size: 35px;
}